.contact {
  @include flex-column;

  align-items: center;
  width: 75%;
  margin: 2rem auto;

  &.page-heading {
    text-indent: 0;
    text-align: center;
  }

  form {
    @include flex-column;
    justify-content: space-evenly;
    width: #{"min(750px, 90vw)"};
    input {
      margin: 0.5rem 0;
    }
    input[type="submit"] {
      width: #{"min(300px, 25vw)"};
      padding: 0 1rem;
      justify-content: center;
      margin: 1rem auto;
    }
  }
}

input[type="textarea"] {
  height: 20vh;
}
